In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [5]:
my_data = randn(4,3) #Rows, Columns
my_rows= ["A", "B", "C","D"]
my_cols = ["Monday", "Tuesday" , "Friday"]

In [6]:
my_df = pd.DataFrame(my_data, my_rows,my_cols)
my_df

     Monday   Tuesday    Friday
A -0.748594 -0.186457  1.003294
B  0.431191  0.008613  0.953145
C -0.646556 -1.399475 -0.957770
D -0.936747  0.456130 -0.198464

In [7]:
#import csv file
my_df2 = pd.read_csv('model/delaney_solubility_with_descriptors.csv')
my_df2

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1144 rows x 5 columns]

In [8]:
#Pull out rows
my_df2.loc[0]

MolLogP                 2.5954
MolWt                 167.8500
NumRotatableBonds       0.0000
AromaticProportion      0.0000
logS                   -2.1800
Name: 0, dtype: float64

In [9]:
#Pull out multiple rows
my_df2.loc[[0,1,2,5]]

   MolLogP    MolWt  NumRotatableBonds  AromaticProportion  logS
0   2.5954  167.850                0.0                 0.0 -2.18
1   2.3765  133.405                0.0                 0.0 -2.00
2   2.5938  167.850                1.0                 0.0 -1.74
5   1.8100   98.960                0.0                 0.0 -1.29

In [12]:
#Grab first 2 rows
my_df2.head(2)

   MolLogP    MolWt  NumRotatableBonds  AromaticProportion  logS
0   2.5954  167.850                0.0                 0.0 -2.18
1   2.3765  133.405                0.0                 0.0 -2.00

In [15]:
 #Grab last 5 rows
my_df2.tail(5)

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

In [17]:
#Get info about the dataframe
my_df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1144 entries, 0 to 1143
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MolLogP             1144 non-null   float64
 1   MolWt               1144 non-null   float64
 2   NumRotatableBonds   1144 non-null   float64
 3   AromaticProportion  1144 non-null   float64
 4   logS                1144 non-null   float64
dtypes: float64(5)
memory usage: 44.8 KB

In [19]:
#Get Shape of rows and columns
my_df.shape

(4, 3)

In [21]:
#dimensions
my_df.ndim

2

In [23]:
my_df2.describe()

,MolLogP,MolWt,NumRotatableBonds,AromaticProportion,logS
count,1144.000000,1144.000000,1144.000000,1144.000000,1144.000000
mean,2.449133,204.631675,2.173951,0.364932,-3.057997
std,1.866003,102.620500,2.627398,0.343305,2.096502
min,-7.571400,16.043000,0.000000,0.000000,-11.600000
25%,1.414900,122.126000,0.000000,0.000000,-4.332250
50%,2.340300,183.594500,1.000000,0.375000,-2.870500
75%,3.406475,270.715750,3.000000,0.666667,-1.600000
max,10.388600,780.949000,23.000000,1.000000,1.580000

In [25]:
#describe a specific column
my_df2['MolLogP'].describe()

count    1144.000000
mean        2.449133
std         1.866003
min        -7.571400
25%         1.414900
50%         2.340300
75%         3.406475
max        10.388600
Name: MolLogP, dtype: float64

In [26]:
#select specific column using Location 
my_df2.iloc[:,0]

0       2.59540
1       2.37650
2       2.59380
3       2.02890
4       2.91890
         ...
1139    1.98820
1140    3.42130
1141    3.60960
1142    2.56214
1143    2.02164
Name: MolLogP, Length: 1144, dtype: float64