In [43]:
import numpy as np
import pandas as pd

In [44]:
my_df = pd.read_csv('students_data.csv')
my_df

,roll_no,name,age,math,physics,chemistry,attendance,study_hours,passed
0,1,Ramesh,18,78.0,82.0,74.0,88.0,3.5,1.0
1,2,Ganesh,19,91.0,89.0,93.0,92.0,4.5,1.0
2,3,Suresh,18,65.0,70.0,68.0,80.0,2.5,1.0
3,4,Mangesh,19,55.0,60.0,58.0,72.0,2.0,0.0
4,5,Chanesh,18,85.0,87.0,90.0,90.0,4.0,1.0
5,6,Rupesh,20,45.0,50.0,NaN,65.0,1.5,0.0
6,7,Patesh,19,72.0,NaN,70.0,83.0,3.0,1.0
7,8,Nagesh,18,60.0,62.0,65.0,NaN,2.2,0.0
8,9,Purvatej,20,NaN,90.0,85.0,95.0,4.8,1.0
9,10,Hybridesh,19,52.0,55.0,50.0,70.0,NaN,0.0
10,11,Swadesh,18,88.0,86.0,89.0,91.0,4.2,1.0
11,12,NaN,20,40.0,45.0,42.0,60.0,1.2,0.0
12,13,Rupesh,19,75.0,78.0,NaN,85.0,3.3,1.0
13,14,Raghavesh,18,NaN,58.0,55.0,68.0,2.0,NaN
14,15,Sadashivesh,20,82.0,80.0,78.0,NaN,3.8,1.0

In [45]:
#counting Distinct values - Descending
my_df['passed'].value_counts()

passed
1.0    9
0.0    5
Name: count, dtype: int64

In [46]:
#counting Distinct values - Ascending
my_df['passed'].value_counts(ascending = True)

passed
0.0    5
1.0    9
Name: count, dtype: int64

In [47]:
#counting Distinct values - inclunding NaN
my_df['passed'].value_counts(dropna = False)

passed
1.0    9
0.0    5
NaN    1
Name: count, dtype: int64

In [48]:
#Getting Relative Frequency - Percentage
my_df['passed'].value_counts(normalize = True,dropna = False)

passed
1.0    0.600000
0.0    0.333333
NaN    0.066667
Name: proportion, dtype: float64

In [49]:
#getting specific item count
my_df['passed'].value_counts()[1]

np.int64(9)

In [50]:
#Counting Unique Values - Size
my_df.groupby('passed').size()

passed
0.0    5
1.0    9
dtype: int64

In [51]:
#Counting Unique Values - Count
my_df.groupby('passed').count()

        roll_no  name  age  math  physics  chemistry  attendance  study_hours
passed
0.0           5     4    5     5        5          4           4            4
1.0           9     9    9     8        8          8           8            9

In [54]:
#Get a count of all columns across all columns
my_df.select_dtypes(include='number').apply(lambda col: col.value_counts())

      roll_no  age  math  physics  chemistry  attendance  study_hours  passed
0.0       NaN  NaN   NaN      NaN        NaN         NaN          NaN     5.0
1.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     9.0
1.2       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
1.5       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
2.0       1.0  NaN   NaN      NaN        NaN         NaN          2.0     NaN
2.2       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
2.5       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
3.0       1.0  NaN   NaN      NaN        NaN         NaN          1.0     NaN
3.3       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
3.5       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
3.8       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
4.0       1.0  NaN   NaN      NaN        NaN         NaN          1.0     NaN
4.2       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
4.5       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
4.8       NaN  NaN   NaN      NaN        NaN         NaN          1.0     NaN
5.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
6.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
7.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
8.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
9.0       1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
10.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
11.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
12.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
13.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
14.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
15.0      1.0  NaN   NaN      NaN        NaN         NaN          NaN     NaN
18.0      NaN  6.0   NaN      NaN        NaN         NaN          NaN     NaN
19.0      NaN  5.0   NaN      NaN        NaN         NaN          NaN     NaN
20.0      NaN  4.0   NaN      NaN        NaN         NaN          NaN     NaN
40.0      NaN  NaN   1.0      NaN        NaN         NaN          NaN     NaN
42.0      NaN  NaN   NaN      NaN        1.0         NaN          NaN     NaN
45.0      NaN  NaN   1.0      1.0        NaN         NaN          NaN     NaN
50.0      NaN  NaN   NaN      1.0        1.0         NaN          NaN     NaN
52.0      NaN  NaN   1.0      NaN        NaN         NaN          NaN     NaN
55.0      NaN  NaN   1.0      1.0        1.0         NaN          NaN     NaN
58.0      NaN  NaN   NaN      1.0        1.0         NaN          NaN     NaN
60.0      NaN  NaN   1.0      1.0        NaN         1.0          NaN     NaN
62.0      NaN  NaN   NaN      1.0        NaN         NaN          NaN     NaN
65.0      NaN  NaN   1.0      NaN        1.0         1.0          NaN     NaN
68.0      NaN  NaN   NaN      NaN        1.0         1.0          NaN     NaN
70.0      NaN  NaN   NaN      1.0        1.0         1.0          NaN     NaN
72.0      NaN  NaN   1.0      NaN        NaN         1.0          NaN     NaN
74.0      NaN  NaN   NaN      NaN        1.0         NaN          NaN     NaN
75.0      NaN  NaN   1.0      NaN        NaN         NaN          NaN     NaN
78.0      NaN  NaN   1.0      1.0        1.0         NaN          NaN     NaN
80.0      NaN  NaN   NaN      1.0        NaN         1.0          NaN     NaN
82.0      NaN  NaN   1.0      1.0        NaN         NaN          NaN     NaN
83.0      NaN  NaN   NaN      NaN        NaN         1.0          NaN     NaN
85.0      NaN  NaN   1.0      NaN        1.0         1.0          NaN     NaN
86.0      NaN  NaN   NaN      1.0        NaN         NaN          NaN     NaN
87.0      NaN  NaN   NaN      1.0        NaN         NaN          NaN     NaN
88.0      NaN  NaN   1.0      NaN        NaN         1.0          NaN     NaN
89.0      NaN  NaN   NaN      1.0        1.0         NaN          NaN     NaN
90.0      NaN  NaN   NaN      1.0        1.0         1.0          NaN     NaN
91.0      NaN  NaN   1.0      NaN        NaN         1.0          NaN     NaN
92.0      NaN  NaN   NaN      NaN        NaN         1.0          NaN     NaN
93.0      NaN  NaN   NaN      NaN        1.0         NaN          NaN     NaN
95.0      NaN  NaN   NaN      NaN        NaN         1.0          NaN     NaN

In [59]:
my_df['attendance'].max()

np.float64(95.0)

In [61]:
#adding colums to your dataframe


#adding a column from a list
gender = ["Male","Female", "Female","Male","Female","Female","Male","Male","Male","Male","Male","Female", "Female","Male","Female"]
my_df["Gender"] = gender
my_df

,roll_no,name,age,math,physics,chemistry,attendance,study_hours,passed,Gender
0,1,Ramesh,18,78.0,82.0,74.0,88.0,3.5,1.0,Male
1,2,Ganesh,19,91.0,89.0,93.0,92.0,4.5,1.0,Female
2,3,Suresh,18,65.0,70.0,68.0,80.0,2.5,1.0,Female
3,4,Mangesh,19,55.0,60.0,58.0,72.0,2.0,0.0,Male
4,5,Chanesh,18,85.0,87.0,90.0,90.0,4.0,1.0,Female
5,6,Rupesh,20,45.0,50.0,NaN,65.0,1.5,0.0,Female
6,7,Patesh,19,72.0,NaN,70.0,83.0,3.0,1.0,Male
7,8,Nagesh,18,60.0,62.0,65.0,NaN,2.2,0.0,Male
8,9,Purvatej,20,NaN,90.0,85.0,95.0,4.8,1.0,Male
9,10,Hybridesh,19,52.0,55.0,50.0,70.0,NaN,0.0,Male
10,11,Swadesh,18,88.0,86.0,89.0,91.0,4.2,1.0,Male
11,12,NaN,20,40.0,45.0,42.0,60.0,1.2,0.0,Female
12,13,Rupesh,19,75.0,78.0,NaN,85.0,3.3,1.0,Female
13,14,Raghavesh,18,NaN,58.0,55.0,68.0,2.0,NaN,Male
14,15,Sadashivesh,20,82.0,80.0,78.0,NaN,3.8,1.0,Female

In [64]:
#Add Default Values
my_df["Alive/Dead"] = ["Alive"] * len(my_df)
my_df

,roll_no,name,age,math,physics,chemistry,attendance,study_hours,passed,Gender,Alive/Dead
0,1,Ramesh,18,78.0,82.0,74.0,88.0,3.5,1.0,Male,Alive
1,2,Ganesh,19,91.0,89.0,93.0,92.0,4.5,1.0,Female,Alive
2,3,Suresh,18,65.0,70.0,68.0,80.0,2.5,1.0,Female,Alive
3,4,Mangesh,19,55.0,60.0,58.0,72.0,2.0,0.0,Male,Alive
4,5,Chanesh,18,85.0,87.0,90.0,90.0,4.0,1.0,Female,Alive
5,6,Rupesh,20,45.0,50.0,NaN,65.0,1.5,0.0,Female,Alive
6,7,Patesh,19,72.0,NaN,70.0,83.0,3.0,1.0,Male,Alive
7,8,Nagesh,18,60.0,62.0,65.0,NaN,2.2,0.0,Male,Alive
8,9,Purvatej,20,NaN,90.0,85.0,95.0,4.8,1.0,Male,Alive
9,10,Hybridesh,19,52.0,55.0,50.0,70.0,NaN,0.0,Male,Alive
10,11,Swadesh,18,88.0,86.0,89.0,91.0,4.2,1.0,Male,Alive
11,12,NaN,20,40.0,45.0,42.0,60.0,1.2,0.0,Female,Alive
12,13,Rupesh,19,75.0,78.0,NaN,85.0,3.3,1.0,Female,Alive
13,14,Raghavesh,18,NaN,58.0,55.0,68.0,2.0,NaN,Male,Alive
14,15,Sadashivesh,20,82.0,80.0,78.0,NaN,3.8,1.0,Female,Alive

In [67]:
#Adding Nan Value
my_df["Talented"] = [np.nan]*len(my_df)
my_df

,roll_no,name,age,math,physics,chemistry,attendance,study_hours,passed,Gender,Alive/Dead,Talented
0,1,Ramesh,18,78.0,82.0,74.0,88.0,3.5,1.0,Male,Alive,NaN
1,2,Ganesh,19,91.0,89.0,93.0,92.0,4.5,1.0,Female,Alive,NaN
2,3,Suresh,18,65.0,70.0,68.0,80.0,2.5,1.0,Female,Alive,NaN
3,4,Mangesh,19,55.0,60.0,58.0,72.0,2.0,0.0,Male,Alive,NaN
4,5,Chanesh,18,85.0,87.0,90.0,90.0,4.0,1.0,Female,Alive,NaN
5,6,Rupesh,20,45.0,50.0,NaN,65.0,1.5,0.0,Female,Alive,NaN
6,7,Patesh,19,72.0,NaN,70.0,83.0,3.0,1.0,Male,Alive,NaN
7,8,Nagesh,18,60.0,62.0,65.0,NaN,2.2,0.0,Male,Alive,NaN
8,9,Purvatej,20,NaN,90.0,85.0,95.0,4.8,1.0,Male,Alive,NaN
9,10,Hybridesh,19,52.0,55.0,50.0,70.0,NaN,0.0,Male,Alive,NaN
10,11,Swadesh,18,88.0,86.0,89.0,91.0,4.2,1.0,Male,Alive,NaN
11,12,NaN,20,40.0,45.0,42.0,60.0,1.2,0.0,Female,Alive,NaN
12,13,Rupesh,19,75.0,78.0,NaN,85.0,3.3,1.0,Female,Alive,NaN
13,14,Raghavesh,18,NaN,58.0,55.0,68.0,2.0,NaN,Male,Alive,NaN
14,15,Sadashivesh,20,82.0,80.0,78.0,NaN,3.8,1.0,Female,Alive,NaN

In [70]:
#adding a column at a specific position
my_df.insert(2,"fees paid",["Yes"]*len(my_df),True)
my_df

,roll_no,name,fees paid,Adopted,age,math,physics,chemistry,attendance,study_hours,passed,Gender,Alive/Dead,Talented
0,1,Ramesh,Yes,True,18,78.0,82.0,74.0,88.0,3.5,1.0,Male,Alive,NaN
1,2,Ganesh,Yes,True,19,91.0,89.0,93.0,92.0,4.5,1.0,Female,Alive,NaN
2,3,Suresh,Yes,True,18,65.0,70.0,68.0,80.0,2.5,1.0,Female,Alive,NaN
3,4,Mangesh,Yes,True,19,55.0,60.0,58.0,72.0,2.0,0.0,Male,Alive,NaN
4,5,Chanesh,Yes,True,18,85.0,87.0,90.0,90.0,4.0,1.0,Female,Alive,NaN
5,6,Rupesh,Yes,True,20,45.0,50.0,NaN,65.0,1.5,0.0,Female,Alive,NaN
6,7,Patesh,Yes,True,19,72.0,NaN,70.0,83.0,3.0,1.0,Male,Alive,NaN
7,8,Nagesh,Yes,True,18,60.0,62.0,65.0,NaN,2.2,0.0,Male,Alive,NaN
8,9,Purvatej,Yes,True,20,NaN,90.0,85.0,95.0,4.8,1.0,Male,Alive,NaN
9,10,Hybridesh,Yes,True,19,52.0,55.0,50.0,70.0,NaN,0.0,Male,Alive,NaN
10,11,Swadesh,Yes,True,18,88.0,86.0,89.0,91.0,4.2,1.0,Male,Alive,NaN
11,12,NaN,Yes,True,20,40.0,45.0,42.0,60.0,1.2,0.0,Female,Alive,NaN
12,13,Rupesh,Yes,True,19,75.0,78.0,NaN,85.0,3.3,1.0,Female,Alive,NaN
13,14,Raghavesh,Yes,True,18,NaN,58.0,55.0,68.0,2.0,NaN,Male,Alive,NaN
14,15,Sadashivesh,Yes,True,20,82.0,80.0,78.0,NaN,3.8,1.0,Female,Alive,NaN

In [71]:
#adding column by creating a new DataFrame
my_df2 = my_df.assign(Disability = [False] * len(my_df))
my_df2

,roll_no,name,fees paid,Adopted,age,math,physics,chemistry,attendance,study_hours,passed,Gender,Alive/Dead,Talented,Disability
0,1,Ramesh,Yes,True,18,78.0,82.0,74.0,88.0,3.5,1.0,Male,Alive,NaN,False
1,2,Ganesh,Yes,True,19,91.0,89.0,93.0,92.0,4.5,1.0,Female,Alive,NaN,False
2,3,Suresh,Yes,True,18,65.0,70.0,68.0,80.0,2.5,1.0,Female,Alive,NaN,False
3,4,Mangesh,Yes,True,19,55.0,60.0,58.0,72.0,2.0,0.0,Male,Alive,NaN,False
4,5,Chanesh,Yes,True,18,85.0,87.0,90.0,90.0,4.0,1.0,Female,Alive,NaN,False
5,6,Rupesh,Yes,True,20,45.0,50.0,NaN,65.0,1.5,0.0,Female,Alive,NaN,False
6,7,Patesh,Yes,True,19,72.0,NaN,70.0,83.0,3.0,1.0,Male,Alive,NaN,False
7,8,Nagesh,Yes,True,18,60.0,62.0,65.0,NaN,2.2,0.0,Male,Alive,NaN,False
8,9,Purvatej,Yes,True,20,NaN,90.0,85.0,95.0,4.8,1.0,Male,Alive,NaN,False
9,10,Hybridesh,Yes,True,19,52.0,55.0,50.0,70.0,NaN,0.0,Male,Alive,NaN,False
10,11,Swadesh,Yes,True,18,88.0,86.0,89.0,91.0,4.2,1.0,Male,Alive,NaN,False
11,12,NaN,Yes,True,20,40.0,45.0,42.0,60.0,1.2,0.0,Female,Alive,NaN,False
12,13,Rupesh,Yes,True,19,75.0,78.0,NaN,85.0,3.3,1.0,Female,Alive,NaN,False
13,14,Raghavesh,Yes,True,18,NaN,58.0,55.0,68.0,2.0,NaN,Male,Alive,NaN,False
14,15,Sadashivesh,Yes,True,20,82.0,80.0,78.0,NaN,3.8,1.0,Female,Alive,NaN,False