In [4]:
import numpy as np
import pandas as pd
from numpy.random import randn

In [6]:
my_data = randn(4,3) #Rows, Columns
my_rows= ["A", "B", "C","D"]
my_cols = ["Monday", "Tuesday" , "Friday"]

In [7]:
my_df = pd.DataFrame(my_data, my_rows,my_cols)
my_df

     Monday   Tuesday    Friday
A  1.272143 -0.657678  1.037210
B -0.113829  0.104410  1.120935
C  0.002842  0.269923 -1.448906
D -0.530789  1.243931  1.692124

In [9]:
#import csv file
my_df2 = pd.read_csv('model/delaney_solubility_with_descriptors.csv')
my_df2

      MolLogP    MolWt  NumRotatableBonds  AromaticProportion   logS
0     2.59540  167.850                0.0            0.000000 -2.180
1     2.37650  133.405                0.0            0.000000 -2.000
2     2.59380  167.850                1.0            0.000000 -1.740
3     2.02890  133.405                1.0            0.000000 -1.480
4     2.91890  187.375                1.0            0.000000 -3.040
...       ...      ...                ...                 ...    ...
1139  1.98820  287.343                8.0            0.000000  1.144
1140  3.42130  286.114                2.0            0.333333 -4.925
1141  3.60960  308.333                4.0            0.695652 -3.893
1142  2.56214  354.815                3.0            0.521739 -3.790
1143  2.02164  179.219                1.0            0.461538 -2.581

[1144 rows x 5 columns]

In [10]:
#Pull out rows
my_df2.loc[0]

MolLogP                 2.5954
MolWt                 167.8500
NumRotatableBonds       0.0000
AromaticProportion      0.0000
logS                   -2.1800
Name: 0, dtype: float64

In [12]:
#Pull out multiple rows
my_df2.loc[[0,1,2,5]]

   MolLogP    MolWt  NumRotatableBonds  AromaticProportion  logS
0   2.5954  167.850                0.0                 0.0 -2.18
1   2.3765  133.405                0.0                 0.0 -2.00
2   2.5938  167.850                1.0                 0.0 -1.74
5   1.8100   98.960                0.0                 0.0 -1.29